// mvn dependency:copy-dependencies -DoutputDirectory=all_dependent_jars
// java --class-path="all_dependent_jars/*.jar:" TrustContentResolverExample.java

import java.util.List;
import eu.xfsc.train.tcr.client.ResolveServiceClient;
import eu.xfsc.train.tcr.api.generated.model.ResolveResult;

class TrustContentResolverExample {

    public static void main(String args[])
    {
        System.out.println("result");
        ResolveServiceClient client = new ResolveServiceClient("some-baseUrl", "some-jwt");
        List<ResolveResult> result = client.resolveTrustList(
           "{{ did }}",
            "{{ trust_framework_pointers[0] }}",
            null
        );
        System.out.println(result.size());
    }
}
